body{
    background-color: antiquewhite;
}
.heading{
    height: 200px;
    width: 1000px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: italic;
    border: 5px solid #C58940;
    background-color: darkseagreen;
    color: whitesmoke;
    border-radius: 50px;
    margin-left:400px ;
    padding: 20px 20px 20px 20px;
}
#my_image{
   height: 550px;
   width: 350px;
   text-align: center;
   border: 5px ;
   margin-left: 750px;
   text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 50px;
   
}
#my_image img{
    height: 400px; 
    width: 300px;
    border-radius: 50%;
}


#Education{
    height: 390px;
    width: 400px;
    border: 10px solid black;
    padding: 20px 20px 20px 20px;
    background-color: cadetblue;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.4;
    border-radius: 50px;
}
#Education h2{
    text-align: center;
}
#Skills{
    height:390px;
    width: 400px;
    border: 10px solid black;
    padding: 20px 20px 20px 20px;
    margin-left: 460px;
    background-color: gold;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.25;
    border-radius: 50px;
}
#Skills h2{
    text-align: center;
}
ul li{
    margin-bottom: 5px;
}
#hobbi{
    background-color: indianred;
    height: 390px;
    width: 400px;
    border: 10px solid black;
    margin-left:920px ;
    padding: 20px 20px 0px 20px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.4;
    border-radius: 50px;
    
}
#hobbi h2{
    text-align: center;
    margin-top: 60px;
}
#project{
    height: 390px;
    width: 400px;
    border :10px solid black;
    margin-left: 460px;
    padding: 20px 20px 20px 20px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    background-color:peru;
    line-height: 1.4;
    border-radius: 50px;
}
#project h2 {
    text-align: center;
    margin-top: 70px;
}
#Declar{
    height: 390px;
    width: 400px;
    border :10px solid black;
    padding: 20px 20px 20px 20px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    background-color:mediumaquamarine;
    line-height: 1.4;
    border-radius: 50px;
 
}
#Declar h2{
    text-align: center;
    margin-top: 70px;
}
@media (max-width:680px){
    #Education{
        margin-left: 15%;
        margin-bottom: 50px;
    }
    #Skills{
        margin-left: 15%;
        margin-bottom: 50px;
    }
    #hobbi{
        margin-left: 15%;
        margin-bottom: 50px;
    }
    #project{
        margin-left: 15%;
        margin-bottom: 50px;
    }
    #Declar{
        margin-left: 15%;
        margin-bottom: 50px;
    }
    #my_image img{
        float: right;
        margin-bottom: 20px;
        object-fit: cover;

    }
    #my_image{
        margin-left: 20%;
    }
    #my_image h3{
        font-size: 20px;
        text-align: center;
        margin-left:40px ;
    }
    #my_image h2{
        margin-left:40px 
    }
    .heading{
        display: inline-block;
        height: 100px;
        width: 600px;
        margin-left: 0px;
    }
    .heading h1{
        font-size: 40px;
        text-align: center;
    }
    div#line{
        width: 650px;
    }

}
